.app {
    overflow: hidden;
}

.header {
    height: var(--header-height);
    background-image: linear-gradient(0, var(--secondary-color), var(--primary-color));
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    height: var(--navbar-height);
}

.navbar__list {
    list-style: none;
    padding-left: 0;
    margin: 4px 0 0 0;

}

.navbar__item {
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

.navbar__item,
.navbar__link {
    font-size: 1.3rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 400;
}

.navbar__item:hover,
.navbar__link:hover,
.navbar__icon-link:hover {
    cursor: pointer;
    color: #ffffffbb;
}

.navbar__list,
.navbar__item,
.navbar__link,
.navbar__icon-link {
    display: flex;
    align-items: center;
}

.navbar__item--separate::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #FB9086;
    height: 16px;
    top: 50%;
    right: -9px;
    transform: translateY(-50%);
}

.navbar__icon-link {
    display: block;
    color: var(--white-color);
    text-decoration: none;
}

.navbar__icon-link:nth-child(2) {
    margin-left: 4px;
}

.navbar__icon {
    font-size: 1.6rem;
    margin: 0 4px;
}

.navbar__title--no-pointer {
    cursor: text;
    color: var(--white-color) !important;
}

.navbar__user-img {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid #0000001a;
}

.navbar__user-name {
    margin-left: 4px;
    font-weight: 500;
}

.navbar__user:hover .navbar__user-menu {
    display: block;
}

.navbar__user-menu {
    padding-left: 0;
    position: absolute;
    top: calc(100%);
    right: 0;
    background-color: var(--white-color);
    border-radius: 2px;
    width: 152px;
    list-style: none;
    z-index: 1;
    box-shadow: 0 1px 5px #aaa;
    display: none;
}

.navbar__user-menu::before {
    content: "";
    border-width: 10px 12px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    top: -20px;
    right: 59px;
    transform: translateX(50%);
}

.navbar__user-menu-item--separate {
    border-top: 1px solid #0000001a;
}

.navbar__user-menu-item a {
    display: block;
    padding: 12px;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
}

.navbar__user-menu-item a:hover {
    color: #00bfa5;
    background-color: #fafafa;
}

.navbar__user-menu-item a:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.navbar__user-menu-item a:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

/* Header QR code */
.navbar__item--show-qr:hover .qr {
    display: block;
}

.qr {
    width: 186px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    top: 118%;
    border-radius: 2px;
    overflow: hidden;
    display: none;
    animation: fadeIn ease-in .3s;
    z-index: 1;
    box-shadow: 0 1px 2px #0000000d;
}

.qr::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: -16px;
    width: 100%;
    height: 20px;
}

.qr__img {
    width: 100%;
}

.qr__apps {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 12px;
}

.qr__link {
    flex-basis: 47%;
    display: flex;
    margin-bottom: 8px;
}

.qr-download-img {
    width: 100%;
}

/* Header notifycation */
.navbar__item--show-notify:hover .notify {
    display: block;
}

.notify {
    position: absolute;
    top: 100%;
    right: 0;
    width: 404px;
    border: 1px solid #d3d3d3;
    background-color: var(--white-color);
    cursor: default;
    transform-origin: calc(100% - 42px) 0;
    animation: notifyGrowth ease-in .2s;
    will-change: opacity, transform;
    display: none;
    z-index: 3;
    border-radius: 2px;
}

.notify::before {
    content: "";
    border-width: 10px 12px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    top: -20px;
    right: 40px;
    transform: translateX(50%);
}

@keyframes notifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.notify__header {
    height: 40px;
    background-color: var(--white-color);
}

.notify__heading {
    color: #999;
    margin: 0;
    font-weight: 400;
    line-height: 40px;
    margin-left: 12px;
    user-select: none;
}

.notify__list {
    padding-left: 0;
}

.notify__item {
    display: flex;
}

.notify__item:hover {
    background-color: #fafafa;
}

.notify__item--viewed {
    background-color: #ff663318;
}

.notify__link {
    display: flex;
    width: 100%;
    padding: 12px;
    text-decoration: none;
}

.notify__img {
    width: 48px;
    object-fit: contain;
}

.notify__info {
    margin-left: 12px;
}

.notify__name {
    display: block;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
    line-height: 1.8rem;
    text-transform: uppercase;
}

.notify__desc {
    display: block;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #756f6e;
    margin-top: 4px;
}

.notify__view-all-btn {
    display: block;
    text-decoration: none;
    text-align: center;
    color: var(--text-color);
    width: 100%;
    padding: 12px;
    margin: auto;
    font-size: 1.4rem;
}

.notify__view-all-btn:hover {
    background-color: #fafafa;
}

/* Authen modal */
.auth-form {
    width: 500px;
    border-radius: 5px;
    overflow: hidden;
    background-color: var(--white-color);
}

.auth-form__container {
    padding: 12px 32px 24px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}

.auth-form__switch-btn {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--primary-color);
    cursor: pointer;
}

.auth-form__input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border-radius: 2px;
    border: 1px solid var(--border-color);
    outline: none;
}

.auth-form__input:focus {
    border: 1px solid #888;
}

.auth-form__aside {
    margin-top: 18px;
}

.auth-form__policy-text {
    font-size: 1.2rem;
    line-height: 1.rem;
    text-align: center;
    padding: 0 12px;
}

.auth-form__text-link {
    color: var(--primary-color);
    text-decoration: none;
}

.auth-form__controls {
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}

.auth-form__control-back {
    margin-right: 8px;
}

.connect {
    background-color: #f5f5f5;
    padding: 16px 32px;
    display: flex;
    justify-content: space-between;
}

.connect__social {
    flex-basis: calc(50% - 8px);
    display: flex;
    justify-content: space-between;
}

.connect__social--facebook {
    color: var(--white-color);
    background-color: #3a5a98;
}

.connect__social--google {
    background-color: var(--white-color);
}

.connect__social-icon {
    font-size: 1.8rem;
}

.connect__social-text {
    flex-grow: 1;
    text-align: center;
}

.auth-form__help {
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link {
    font-size: 1.4rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #939393;
}

.auth-form__help-separate {
    display: block;
    height: 22px;
    margin: 0 16px;
    border-left: 1px solid #eaeaea;
}

.auth-form__help-link--forgot {
    color: var(--primary-color);
}

/* Header bottom */
.header__bottom {
    height: var(--header-bottom-height);
    display: flex;
    align-items: center;
    margin: 0 8px;
}

.header__mobile-search {
    padding: 8px;
    display: none;
}

.header__mobile-search-icon {
    font-size: 2.6rem;
    color: var(--white-color);
}

.header__logo {
    width: 200px;
}

.header__logo-link {
    color: transparent;
    text-decoration: none;
    display: block;
    line-height: 0;
}

.header__logo-img {
    width: 150px;
}

.header__search-checkbox:checked ~ .search {
    display: flex;
}

/* Header - Search */
.search {
    flex-grow: 1;
    height: 40px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
}

.search__input-wrap {
    flex-grow: 1;
    height: 100%;
    position: relative;
}

.search__input {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 2px;
}

.search__input:focus~.search__history {
    display: block
}

.search__history {
    position: absolute;
    top: calc(100% + 4px);
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 5px #aaa;
    display: none;
    overflow: hidden;
    z-index: 2;
}

.search__history-heading {
    margin: 10px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}

.search__history-list {
    padding-left: 0;
    list-style: none;
    margin: 8px 0 0 0;
}

.search__history-item {
    height: 38px;
}

.search__history-item:hover {
    background-color: #fafafa;
}

.search__history-item a {
    display: block;
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    line-height: 38px;
    padding: 0 12px;
}

/* Search Select */
.search__select {
    border-left: 1px solid #e8e8e8;
    padding-left: 16px;
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
    cursor: pointer;
}

.search__select-label {
    font-size: 1.4rem;
    color: var(--text-color);
}

.search__select-icon {
    font-size: 1.4rem;
    color: #808080;
    margin: 0 16px 0 8px;
}

.search__select:hover .search__option {
    display: block;
}

.search__option {
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    list-style: none;
    box-shadow: 0 0 3px #e0e0e0;
    border-radius: 2px;
    padding: 0;
    margin: 4px 0;
    display: none;
    animation: fadeIn ease-in .2s;
    z-index: 2;
}

.search__option::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    position: absolute;
    top: -4px;
}

.search__option-item {
    background-color: var(--white-color);
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search__option-item:first-child {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.search__option-item:last-child {
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}

.search__option-item:hover {
    background-color: #fafafa;
    cursor: pointer;
}

.search__option-item span {
    font-size: 1.4rem;
    color: var(--text-color);
}

.search__option-item i {
    font-size: 1.4rem;
    color: var(--primary-color);
    display: none;
}

.search__option-item--active i {
    display: inline-block;
}

.search__btn {
    background-color: var(--secondary-color);
    border: none;
    outline: none;
    height: 34px;
    width: 60px;
    border-radius: 2px;
    margin-right: 3px;
}

.search__btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.search__btn-icon {
    font-size: 1.4rem;
    color: var(--white-color);
}

/* Header - Cart */
.header__cart {
    width: 150px;
    height: 40px;
    text-align: center;
    position: relative;
}

.header__cart-wrap {
    height: 100%;
    padding: 8px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    -webkit-tap-highlight-color: transparent;
}

.header__cart-icon {
    color: var(--white-color);
    font-size: 2.4rem;
}

.header__cart-quantity {
    position: absolute;
    top: -4px;
    right: -4px;
    padding: 1px 6px;
    font-size: 1.4rem;
    line-height: 1.4rem;
    border-radius: 10px;
    border: 2px solid #ee4d2d;
    color: var(--primary-color);
    background-color: var(--white-color);
}

.header__cart-wrap:hover .header__cart-popover {
    display: block;
}

.header__cart-popover {
    position: absolute;
    top: calc(100% + 4px);
    right: calc(50% - 28px);
    background-color: var(--white-color);
    width: 400px;
    box-shadow: 0 1px 32px 0px #00000033;
    animation: fadeIn ease .2s;
    cursor: default;
    display: none;
    z-index: 1;
}

.header__cart-popover--no-cart .header__no-cart {
    display: flex;
}

.header__cart-popover--no-cart .header__has-cart {
    display: none;
}

.header__cart-popover::before {
    content: "";
    border-width: 10px 12px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    top: -20px;
    right: 16px;
    cursor: pointer;
}

.header__cart-popover::after {
    content: "";
    display: block;
    position: absolute;
    top: -10px;
    right: 0;
    width: 100%;
    height: 10px;
}

.header__no-cart {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 24px 0;
}

.header__no-cart-img {
    width: 25%;
}

.header__no-cart-msg {
    font-size: 1.4rem;
    margin-top: 16px;
    color: #00000066;
    font-weight: 700;
}

.header__cart-heading {
    text-align: left;
    margin: 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}

.header__cart-list {
    text-decoration: none;
    padding-left: 0;
    max-height: 40vh;
    overflow-y: auto;
}

.header__cart-item {
    display: flex;
    align-items: center;
    padding: 12px;
}

.header__cart-item:hover {
    background-color: #f8f8f8;
}

.header__cart-item-img {
    width: 42px;
    height: 42px;
    border: 1px solid #e8e8e8;
}

.header__cart-item-info {
    width: 100%;
    padding-left: 12px;
}

.header__cart-item-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__cart-item-name {
    flex: 1;
    color: var(--text-color);
    font-weight: 400;
    margin: 0;
    font-size: 1.4rem;
    text-align: left;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.header__cart-item-price {
    font-size: 1.4rem;
    color: var(--primary-color);
}

.header__cart-item-multiply {
    margin: 0 2px;
    color: #757575;
}

.header__cart-item-qnt {
    font-size: 1.2rem;
    color: #757575;
}

.header__cart-item-body {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}

.header__cart-item-type {
    color: #757575;
    font-size: 1.2rem;
    font-weight: 300;
}

.header__cart-item-remove {
    color: var(--text-color);
    font-size: 1.4rem;
}

.header__cart-item-remove:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.header__cart-footer {
    display: flex;
    justify-content: right;
    padding: 12px;
    background-color: #fdfdfd;
}

.header__cart-view {
    margin: 0;
}

.header__cart-view:hover {
    background-color: #f05d41;
}

/* Header sort bar */
.sort-bar {
    position: fixed;
    top: var(--header-height);
    left: 0;
    right: 0;
    height: var(--header-sort-bar-height);
    background-color: var(--white-color);
    list-style: none;
    margin: 0;
    padding-left: 0;
    border-top: 1px solid #e5e5e5;
    display: none;
}

.sort-bar__item {
    flex: 1;
}

.sort-bar__link {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    display: block;
    height: 100%;
    line-height: var(--header-sort-bar-height);
    text-align: center;
    position: relative;
    border-bottom: 1px solid #e5e5e5;
}

.sort-bar__link::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    height: 60%;
    border-left: 1px solid #e5e5e5;
    transform: translateY(-50%);
}

.sort-bar__item--active .sort-bar__link {
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
}

.sort-bar__item:first-child .sort-bar__link::before{
    display: none;
}

/* App container */
.app__container {
    background-color: #f5f5f5;
}

.app__content {
    padding-top: 36px;
}

.category {
    border-radius: 2px;
    margin-right: 12px;
}

.category__heading {
    color: var(--text-color);
    font-size: 1.6rem;
    padding: 16px 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #0000001a;
    margin: 0;
}

.category__heading-icon {
    font-size: 1.4rem;
    margin-right: 4px;
}

.category-list {
    padding: 0;
    margin: 8px 0;
    list-style: none;
}

.category-item {
    /* padding: 0 32px; */
}

.category-item--active .category-item__link {
    color: var(--primary-color);
}

.category-item--active .category-item__link::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    border: 4px solid;
    border-color: transparent transparent transparent var(--primary-color);
}

.category-item__link {
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 8px 12px;
    text-decoration: none;
    display: block;
    position: relative;
    right: 0;
    transition: right linear 0.1s;
}

.category-item__link:hover {
    color: var(--primary-color);
    right: -4px;
}

/* Mobile category */
.mobile-category {
    display: none;
}

.mobile-category__list {
    display: flex;
    list-style: none;
    padding-left: 0;
    max-width: 100%;
    overflow-x: auto;
}

.mobile-category__list::-webkit-scrollbar {
    display: none;
}

.mobile-category__item {
    flex-shrink: 0;
    margin-right: 10px;
}

.mobile-category__item:nth-of-type(3n + 1) .mobile-category__link {
    background-color: #87afd8;
}

.mobile-category__item:nth-of-type(3n + 2) .mobile-category__link {
    background-color: #76c9bd;
}

.mobile-category__item:nth-of-type(3n + 3) .mobile-category__link {
    background-color: #88cf81;
}

.mobile-category__link {
    --line-height: 2rem;
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.4rem;
    line-height: var(--line-height);
    height: calc(var(--line-height) * 2);
    overflow: hidden;
    text-align: center;
    width: 110px;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    border-radius: 4px;
    font-weight: 300;
    user-select: none;
    -webkit-user-select: none;
    padding: 0 6px;
}



/* Home sort + filter */
.home-filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 22px;
    border-radius: 2px;
    background-color: #0000000d;
}

.home-filter__wrap {
    display: flex;
    align-items: center;

}

.home-filter__label {
    font-size: 1.4rem;
    color: #555;
    font-weight: 500;
    margin-right: 16px;
}

.home-filter__btn {
    margin-right: 12px;
    min-width: 90px;
}

.home-filter__page {
    display: flex;
    align-items: center;
}

.home-filter__page-num {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-right: 20px;
}

.home-filter__page-current {
    color: var(--primary-color);
}

.home-filter__page-control {
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
    border-radius: 2px;
    box-shadow: 0 1px 2px #ccc;
}

.home-filter__page-btn {
    flex: 1;
    display: flex;
    text-decoration: none;
    background-color: var(--white-color);
}

.home-filter__page-btn:first-child {
    border-right: 1px solid #eee;
}

.home-filter__page-btn--disabled {
    background-color: #f9f9f9;
    cursor: default;
}

.home-filter__page-btn--disabled .home-filter__page-icon {
    color: #ccc;
}

.home-filter__page-icon {
    margin: auto;
    font-size: 1.4rem;
    color: #555;
}

/* Product list */
.product-list {
    margin-bottom: 10px;
}

.product-list-item {
    display: block;
    background-color: var(--white-color);
    margin-top: 10px;
    position: relative;
    border-radius: 2px;
    overflow: hidden;
    box-shadow: 0 1px 2px 0 #0000001a;
    transition: transform linear .1s;
    will-change: transform;
    text-decoration: none;
}

.product-list-item:hover {
    transform: translateY(-2px);
    box-shadow: 0 1px 20px 0 #0000000d;
}

.product-list-item__img {
    padding-top: 100%;
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
}

.product-list-item__wrap {
    padding: 8px;
}

.product-list-item__name {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    margin: 0;
    line-height: 1.8rem;
    height: 3.6rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.product-list-item__price {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 8px;
}

.product-list-item__price-old {
    font-size: 1.4rem;
    color: #666;
    text-decoration: line-through;
}

.product-list-item__price-current {
    font-size: 1.6rem;
    color: var(--primary-color);
    margin-left: 6px;
}

.product-list-item__action {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.product-list-item__like {
    font-size: 1.2rem;
}

.product-list-item__like--liked .product-list-item__like-icon-empty {
    display: none;
}

.product-list-item__like--liked .product-list-item__like-icon-fill {
    display: block;
}

.product-list-item__like-icon-empty {
    color: var(--text-color);
}

.product-list-item__like-icon-fill {
    color: #f63d30;
    display: none;
}

.product-list-item__rating {
    font-size: 0.8rem;
    color: #d5d5d5;
    margin-left: auto;
}

.product-list-item__rating-gold {
    color: var(--star-gold-color);
}

.product-list-item__sold {
    font-size: 1.2rem;
    color: var(--text-color);
    margin-left: 4px;
}

.product-list-item__origin {
    display: flex;
    justify-content: space-between;
    color: #595959;
    font-size: 1.2rem;
    font-weight: 300;
    margin-top: 8px;
}

.product-list-item__fav {
    position: absolute;
    top: 10px;
    left: -4px;
    color: var(--white-color);
    background-color: var(--secondary-color);
    font-size: 1.2rem;
    padding: 0 4px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.product-list-item__fav::after {
    content: "";
    border-top: 3px solid var(--secondary-color);
    border-left: 3px solid transparent;
    position: absolute;
    top: 100%;
    left: 0;
    filter: brightness(60%);
}

.product-list-item__sale-off {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 36px;
    background-color: #ffd840e4;
    text-align: center;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 600;
}

.product-list-item__sale-off::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    border-width: 0 20px 4px;
    border-color: transparent #ffd840e4;
    border-style: solid;
}

.product-list-item__sale-off-percent {
    color: #ee4d2d;
}

.product-list-item__sale-off-label {
    color: var(--white-color);
}

/* Pagination */
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    list-style: none;
}

.pagination-item {
    margin: 0 10px;
}

.pagination-item--active .pagination-item__link {
    color: var(--white-color);
    background-color: var(--primary-color);
}

.pagination-item--active .pagination-item__link:hover {
    background-color: #ed5c3f;
}

.pagination-item__link {
    text-decoration: none;
    font-size: 2rem;
    color: #939393;
    min-width: 40px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
}

/* Footer */
.footer {
    padding-top: 20px;
    border-top: 4px solid var(--primary-color);
    background-color: #fbfbfb;
}

.footer__heading {
    margin: 0;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: var(--text-color);
}

.footer-list {
    padding-left: 0;
    list-style: none;
}

.footer-item__link {
    text-decoration: none;
    font-size: 1.2rem;
    color: #000000a6;
    display: inline-flex;
    align-items: center;
    padding: 4px 0;
}

.footer-item__link:hover {
    color: var(--primary-color);
}

.footer-item__link i {
    font-size: 1.6rem;
    margin-right: 8px;
}

.footer__download {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.footer__download-qr {
    width: 80px;
    display: block;
    border: 1px solid var(--border-color);
}

.footer__download-apps {
    margin-left: 12px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__download-apps-link {
    color: transparent;
    text-decoration: none;
    padding: 4px;
    background-color: var(--white-color);
    border-radius: 2px;
    line-height: 0.6rem;
}

.footer__download-apps-img {
    width: 64px;
}

.footer__bottom {
    background-color: #f5f5f5;
    padding: 8px 0;
    margin-top: 36px;
}

.footer__copyright {
    margin: 0;
    text-align: center;
    font-size: 1.2rem;
    color: #737373;
}