.header {
    height: 120px;
    background-image: linear-gradient(0, var(--secondary-color), var(--primary-color));
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
}

.navbar__list {
    list-style: none;
    padding-left: 0;
    margin-top: 4px;
}

.navbar__item {
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

.navbar__item,
.navbar__link {
    font-size: 1.3rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 400;
}

.navbar__item:hover,
.navbar__link:hover,
.navbar__icon-link:hover {
    cursor: pointer;
    color: #ffffffbb;
}

.navbar__list,
.navbar__item,
.navbar__link,
.navbar__icon-link {
    display: inline-flex;
    align-items: center;
}

.navbar__item--separate::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #FB9086;
    height: 16px;
    top: 50%;
    right: -9px;
    transform: translateY(-50%);
}

.navbar__item--show-qr:hover .qr {
    display: block;
}

.navbar__item--show-notify:hover .notify {
    display: block;
}

.navbar__icon-link {
    display: block;
    color: var(--white-color);
    text-decoration: none;
}

.navbar__icon {
    font-size: 1.6rem;
    margin: 0 4px;
}

.navbar__title--no-pointer {
    cursor: text;
    color: var(--white-color) !important;
}

/* Header QR code */
.qr {
    width: 186px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    top: 118%;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in .3s;
}

.qr::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: -16px;
    width: 100%;
    height: 20px;
}

.qr__img {
    width: 100%;
}

.qr__apps {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 12px;
}

.qr__link {
    flex-basis: 47%;
    display: flex;
    margin-bottom: 8px;
}

.qr-download-img {
    width: 100%;
}

/* Header notifycation */
.notify {
    position: absolute;
    top: 100%;
    right: 0;
    width: 404px;
    border: 1px solid #d3d3d3;
    background-color: var(--white-color);
    cursor: default;
    transform-origin: calc(100% - 42px) 0;
    animation: notifyGrowth ease-in .2s;
    will-change: opacity, transform; /* Browser optimize for these attr */
    display: none;
}

.notify::before {
    content: "";
    border-width: 10px 15px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    top: -20px;
    right: 40px;
    transform: translateX(50%);
}

@keyframes notifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.notify__header {
    height: 40px;
    background-color: var(--white-color);
}

.notify__heading {
    color: #999;
    margin: 0;
    font-weight: 400;
    line-height: 40px;
    margin-left: 12px;
    user-select: none;
}

.notify__list {
    padding-left: 0;
}

.notify__item {
    display: flex;
}

.notify__item:hover {
    background-color: #f7f7f7;
}

.notify__item--viewed {
    background-color: #ff663318;
}

.notify__link {
    display: flex;
    width: 100%;
    padding: 12px;
    text-decoration: none;
}

.notify__img {
    width: 48px;
    object-fit: contain;
}

.notify__info {
    margin-left: 12px;
}

.notify__name {
    display: block;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
    line-height: 1.8rem;
    text-transform: uppercase;
}

.notify__desc {
    display: block;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #756f6e;
    margin-top: 4px;
}

.notify__footer {
    
}

.notify__view-all-btn {
    display: block;
    text-decoration: none;
    text-align: center;
    color: var(--text-color);
    width: 100%;
    padding: 12px;
    margin: auto;
    font-size: 1.4rem;
}

.notify__view-all-btn:hover {
    background-color: #fafafa;
}

